*{margin: 0; padding: 0;}

div {width: 210mm; 
    height: 297mm;
    padding: 25mm 25mm 25mm 25mm;
    margin: 50px auto;
    background-color: white;
    font-family: 'Times New Roman';
    border:10px solid rgb(247, 160, 0);}

hr {border-style: solid;}

p {padding: 10px; font-size: 18px; padding-left: 95px;}

.date {display: inline;padding-left: 95px;}

.p1 {display: inline-table;text-align: left;pad}

.p2 {padding-bottom: 20px; display: inline-block;text-align: right;font-family: Arial, Helvetica, sans-serif;}

h1 {display: inline;margin-right: 291px;}

h4 {margin-top: 20px; font-size: 20px;}

ul {padding-left: 95px;}

.p3 { display: inline-table;}